.link-text {
  color: #D6D6D6;
  font-weight: bold;
  margin-top: -10px;
  text-decoration: none;
  transition: color 0.3s ease;
}

.link-text:hover {
  color: #969393;
}

.link-text:active {
  color: #C93131; 
}

p {
font-weight: bold;
}

.links-button {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.links-button button {
  padding: 11px 18px;
  font-size: 16px;
  border: none;
  background-color: #111111;
  border: 1px solid #353535;
  transition: background-color 0.2s ease;
  color: white;
  cursor: pointer;
  border-radius: 8px;
  width: 310px;
  text-align: left;
  opacity: 0; 
  transform: translateY(20px); 
  animation: fadeInUp 0.5s forwards; 
}

@keyframes fadeInUp {
  0% {
    transform: translateY(20px); 
    opacity: 0;
  }
  100% {
    transform: translateY(0); 
    opacity: 1; 
  }
}

.links-button button:nth-child(1) {
  animation-delay: 0.3s;
}

.links-button button:nth-child(2) {
  animation-delay: 1s;
}

.links-button button:nth-child(3) {
  animation-delay: 1.7s;
}

.links-button button:nth-child(4) {
  animation-delay: 2.4s;
}

.links-button button:nth-child(5) {
  animation-delay: 3.1s;
}

.links-button button:nth-child(6) {
  animation-delay: 3.8s;
}

.links-button button:nth-child(7) {
  animation-delay: 4.5s;
}

.links-button button:hover {
  background-color: #1A1A1A;
}

.status-up {
  position: absolute;
  width: 8px;
  height: 8px;
  background-color: #17b30e;
  border-radius: 50%;
  right: 15px; 
  top: 50%;
  transform: translateY(-50%);
}

.status-down {
  position: absolute;
  width: 8px;
  height: 8px;
  background-color: #df1414;
  border-radius: 50%;
  right: 15px; 
  top: 50%;
  transform: translateY(-50%);
}